@model servis.Models.GetSession

@{
    ViewData["Title"] = "Подтверждение";
}

<div>
    <h4>Запись создана</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
           
            @Html.DisplayNameFor(model => model.Psychologist_obj.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Psychologist_obj.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Psychologist_obj.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Psychologist_obj.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Psychologist_obj.Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Psychologist_obj.Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Psychologist_obj.Info)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Psychologist_obj.Info)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Psychologist_obj.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Psychologist_obj.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Psychologist_obj.Methods_obj)
        </dt>
        <dd class = "col-sm-10">            
            @Html.DisplayFor(model => model.Psychologist_obj.Methods_obj.Methods_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Psychologist_obj.Specialization_obj)
        </dt>
        <dd class = "col-sm-10">         
            @Html.DisplayFor(model => model.Psychologist_obj.Specialization_obj.Special_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date_Session)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date_Session)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Format_Session)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Format_Session)
        </dd>     
        
    </dl>
</div>
<div>
   @* <form asp-action="Confirm">*@
       @* <input type="hidden" name="id" value="@ViewBag.Psychologist_id" />
        @*<input type="hidden" name="Session_ID" value="@Model.Session_ID" />*@
        @*<input type="submit" value="Подтвердить" class="btn btn-success" />*@
   @* </form>*@
    <a asp-action="Index">Сохранить</a>
</div>

            