@model servis.Models.GetSession

@{
    ViewData["Title"] = "Подтверждение";
}

<div>
    <h4>Psychologist</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
           
            @Html.DisplayNameFor(model => model.Psychologist_obj.Name)
        </dt>
        <dd class = "col-sm-10">
            <label class="control-label col-md-2">Имя:</label>
            @Html.DisplayFor(model => model.Psychologist_obj.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Psychologist_obj.LastName)
        </dt>
        <dd class = "col-sm-10">
            <label class="control-label col-md-2">Фамилия:</label>
            @Html.DisplayFor(model => model.Psychologist_obj.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Psychologist_obj.Year)
        </dt>
        <dd class = "col-sm-10">
            <label class="control-label col-md-2">Возраст:</label>
            @Html.DisplayFor(model => model.Psychologist_obj.Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Psychologist_obj.Info)
        </dt>
        <dd class = "col-sm-10">
            <label class="control-label col-md-2">Дополнительная информация:</label>
            @Html.DisplayFor(model => model.Psychologist_obj.Info)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Psychologist_obj.Price)
        </dt>
        <dd class = "col-sm-10">
            <label class="control-label col-md-2">Цена:</label>
            @Html.DisplayFor(model => model.Psychologist_obj.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Psychologist_obj.Methods_obj)
        </dt>
        <dd class = "col-sm-10">
            <label class="control-label col-md-2">Метод:</label>
            @Html.DisplayFor(model => model.Psychologist_obj.Methods_obj.Methods_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Psychologist_obj.Specialization_obj)
        </dt>
        <dd class = "col-sm-10">
             <label class="control-label col-md-2">Специализация:</label>
            @Html.DisplayFor(model => model.Psychologist_obj.Specialization_obj.Special_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date_Session)
        </dt>
        <dd class = "col-sm-10">
            <label class="control-label col-md-2">Цена:</label>
            @Html.DisplayFor(model => model.Date_Session)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Format_Session)
        </dt>
        <dd class = "col-sm-10">
            <label class="control-label col-md-2">Метод:</label>
            @Html.DisplayFor(model => model.Format_Session)
        </dd>     
        
    </dl>
</div>
<div>
    <a asp-action="Index">Подтвердить</a>
    <a asp-action="Index">Отмена</a>
</div>
