@model servis.Models.Psychologist

@{
    ViewData["Title"] = "Подробнее";
}

<div>
    <h4>Психолог</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Info)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Info)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Methods_obj)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Methods_obj.Methods_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Specialization_obj)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Specialization_obj.Special_Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Choose" asp-route-id="@Model?.ID">Выбрать</a> |
    <a asp-action="Index">Обратно</a>
</div>
