@*@model IEnumerable<servis.Models.Psychologist>*@
@*@model servis.Models.PsychologistFiltr*@
@model IndexViewModel
@{
    ViewData["Title"] = "Выбор специалиста";
}


<form method="get">
    <div class="form-inline">
        <label>Имя: </label>
        <input name="name" value="@Model.FilterViewModel.Name" class="form-control" />
         
        <label>Метод: </label>
        <select name="method" asp-items="Model.FilterViewModel.MethodsP" class="form-control"></select>
 
        <input type="submit" value="Фильтр" class="btn btn-outline-dark" />
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                Имя
               @* @Html.DisplayNameFor(model => model.Name)*@
            </th>
            <th>
                Фамилия
              @*  @Html.DisplayNameFor(model => model.LastName)*@
            </th>
            <th>
                Возраст
              @*  @Html.DisplayNameFor(model => model.Year)*@
            </th>
            <th>
                Информация
                @*@Html.DisplayNameFor(model => model.Info)*@
            </th>
            <th>
                 <a asp-action="Index" asp-route-sortOrder="@(Model.SortViewModel.PriceSort)"
               asp-route-name="@(Model.FilterViewModel.Name)"
               asp-route-company="@(Model.FilterViewModel.MethodsP)">Цена</a>
                @*<a asp-action="Index" asp-route-sortOrder="@ViewBag.PriceSort">*@
                @*Цена*@
            </a>
            </th>
            <th>
                Методы
               @* @Html.DisplayNameFor(model => model.Methods_obj)*@
            </th>
            <th>
                Специализация
               @* @Html.DisplayNameFor(model => model.Specialization_obj)*@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Users) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Info)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Methods_obj.Methods_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Specialization_obj.Special_Name)
            </td>
            <td>              
                <a asp-action="Details" asp-route-id="@item.ID">Подробнее</a> |               
            </td>
        </tr>
}
    </tbody>
</table>

@if (Model.PageViewModel.HasPreviousPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
       asp-route-name="@(Model.FilterViewModel.Name)"
       asp-route-company="@(Model.FilterViewModel.MethodsP)"
       asp-route-sortorder="@(Model.SortViewModel.Current)"
       class="btn  btn-outline-dark">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Назад
    </a>
}
@if (Model.PageViewModel.HasNextPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
       asp-route-name="@(Model.FilterViewModel.Name)"
       asp-route-company="@(Model.FilterViewModel.MethodsP)"
       asp-route-sortorder="@(Model.SortViewModel.Current)"
       class="btn btn-outline-dark">
        Вперед
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}