@*@model IEnumerable<servis.Models.Psychologist>*@
@model servis.Models.PsychologistFiltr
@{
    ViewData["Title"] = "Выбор специалиста";
}

<form method="get">
    <div class="form-inline">
        <label class="control-label">Метод: </label>
        @Html.DropDownList("method", Model.MethodsP as SelectList,
                    htmlAttributes: new { @class = "form-control" })
 
        <label class="control-label">Специализация: </label>
        @Html.DropDownList("specialization", Model.SpecializationP as SelectList,
                htmlAttributes: new { @class = "form-control" })
 
        <input type="submit" value="Фильтр" class="btn btn-default" />
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Имя
               @* @Html.DisplayNameFor(model => model.Name)*@
            </th>
            <th>
                Фамилия
              @*  @Html.DisplayNameFor(model => model.LastName)*@
            </th>
            <th>
                Возраст
              @*  @Html.DisplayNameFor(model => model.Year)*@
            </th>
            <th>
                Информация
                @*@Html.DisplayNameFor(model => model.Info)*@
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.PriceSort">
                Цена
            </a>
            </th>
            <th>
                Методы
               @* @Html.DisplayNameFor(model => model.Methods_obj)*@
            </th>
            <th>
                Специализация
               @* @Html.DisplayNameFor(model => model.Specialization_obj)*@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Psychologist) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Info)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Methods_obj.Methods_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Specialization_obj.Special_Name)
            </td>
            <td>              
                <a asp-action="Details" asp-route-id="@item.ID">Подробнее</a> |               
            </td>
        </tr>
}
    </tbody>
</table>
