@model servis.Models.GetSession

@{
    ViewData["Title"] = "Подробнее о сессии";
}

<div>
    <h4>Подробнее о сессии</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date_Session)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date_Session)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Format_Session)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Format_Session)
        </dd>
          <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status_Session)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status_Session)
        </dd>
     
    <dt class = "col-sm-2">
     Имя Клиента:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Client.Name)
        </dd>
        <dt class = "col-sm-2">
       Фамилия Клиента:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Client.LastName)
        </dd>
          <dt class = "col-sm-2">
         Почта Клиента:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Client.Email)
        </dd>
         <dt class = "col-sm-2">
           Телефон Клиента:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Client.Phone)
        </dd>
           <dt class = "col-sm-2">
            Имя Психолога:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Psychologist_obj.Name)
        </dd>
        <dt class = "col-sm-2">
         Фамилия Психолога:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Psychologist_obj.LastName)
        </dd>
        <dt class = "col-sm-2">
              Почта Психолога:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Psychologist_obj.Email)
        </dd>
         <dt class = "col-sm-2">
            Телефон Психолога:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Psychologist_obj.Phone)
        </dd>
 
           @if (User.IsInRole("admin"))
        {
             <div> @if (Model.Status_Session == Status.Completed)
            {
                <dt class = "col-sm-2">
                    Отзыв:
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Feedback)
                </dd>
             
        }>

       </div>
        }
    </dl>
</div>
<div>
    @*<div> @if (Model.Status_Session == Status.Wait)
            {
                   <a asp-action="EditStatus" asp-route-id="@Model?.Session_ID">Изменить статус</a> |
            
        }
       </div>
*@
       <div> 
            @if (Model.Status_Session == Status.Wait){ 
           <a asp-action="EditStatus" asp-route-id="@Model?.Session_ID">Изменить статус </a> 
              }
                               
        </div>
    <a asp-action="Index">Назад</a>
</div>
