@model IEnumerable<servis.Models.GetSession>

@{
    ViewData["Title"] = "Список сессий";
}

<h1>Сессии</h1>
@*
<p>
    <a asp-action="Create">Сессии</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date_Session)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Format_Session)
            </th>
            @*@if (User.IsInRole("admin")||User.IsInRole("guest"))*@
             @if (!User.IsInRole("psych"))
            {
             <th>
                    @Html.DisplayNameFor(model => model.Psychologist_obj)
            </th>
            }
            @*@if (!User.IsInRole("admin") || User.IsInRole("guest"))*@
            @if (!User.IsInRole("guest"))
            {
                 <th>
                    @Html.DisplayNameFor(model => model.Client)
            </th>
            }
             <th>
                @Html.DisplayNameFor(model => model.Status_Session)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date_Session)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Format_Session)
            </td>
                @*@if (User.IsInRole("admin") || User.IsInRole("guest"))*@
                  @if (!User.IsInRole("psych"))
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Psychologist_obj.Name)
                    </td>                

                }
                @if (!User.IsInRole("guest"))
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Client.Name)
                    </td>                
                }
               <td>
                @Html.DisplayFor(modelItem => item.Status_Session)
               </td>
                <td>
                <a asp-action="Details" asp-route-id="@item.Session_ID">Детали</a>            
            </td>
        </tr>
}
    </tbody>
</table>
<div>
     <form asp-action="GetReport">      
        <input type="submit" value="Скачать отчёт" class="btn btn-success" />
    </form>
</div>

