@model IEnumerable<servis.Models.GetSession>

@{
    ViewData["Title"] = "Список сессий";
}

<h1>Сессии</h1>
@*
<p>
    <a asp-action="Create">Сессии</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date_Session)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Format_Session)
            </th>
             <th>
                   Имя психолога
            </th>
             <th>
                   Фамилия психолога
            </th>
           @*  <th>
                   Имя клиента
            </th>
             <th>
                   Фамилия клиента
            </th>*@
             <th>
                 Статус
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date_Session)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Format_Session)
            </td>
            <td>
                  @Html.DisplayFor(modelItem => item.Psychologist_obj.Name)
              </td>    
               <td>
                  @Html.DisplayFor(modelItem => item.Psychologist_obj.LastName)
              </td>    
               @* <td>
                       @Html.DisplayFor(modelItem => item.Client.Name)
                </td>  
                <td>
                    @Html.DisplayFor(modelItem => item.Client.LastName)
               </td>  *@
               <td>
                @Html.DisplayFor(modelItem => item.Status_Session)
               </td>
                <td>
                <a asp-action="Details" asp-route-id="@item.Session_ID">Детали</a>            
            </td>
        </tr>
}
    </tbody>
</table>
<div>
     <form asp-action="GetReport">      
        <input type="submit" value="Скачать отчёт" class="btn btn-success" />
    </form>
</div>

