@model IEnumerable<servis.Models.Psychologist>

@{
    ViewData["Title"] = "Психологи";
}

<h1>Психологи</h1>

<p>
    <a asp-action="Create">Добавить</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Info)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Methods_obj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Specialization_obj)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Info)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Methods_obj.Methods_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Specialization_obj.Special_Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Детали</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div>
     <form asp-action="GetReport">      
        <input type="submit" value="Скачать отчёт" class="btn btn-success" />
    </form>
</div>

